
@{
    ViewBag.Title = "Crear Empleado";
}


<div style="text-align:end">
    <a class="btn btn-light btn-sm" href="/Empleado/Empleado">Volver</a>
    <a class="btn btn-warning btn-sm" href="/Empleado/ListaEmpleados">Ver Empleados</a>
</div>

<h2>Nuevo Empleado</h2>
<br />
<h5>Datos Personales</h5>
<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <span>Nombres</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Apellidos</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Tipo Documento</span>
            <select class="form-control" style="min-width:100%">
                <option value="-1">Seleccione ...</option>
            </select>
        </td>
        <td style="width:50%">
            <span>Número Documento</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Fecha de Nacimiento</span>
            <input class="form-control" type="date" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Lugar de Nacimiento</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Email</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Teléfono</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Dirección Residencia</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Ciudad Residencia</span>
            <select class="form-control" style="min-width:100%">
                <option value="-1">Seleccione ...</option>
            </select>
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Estado Civil</span>
            <select class="form-control" style="min-width:100%">
                <option value="-1">Seleccione ...</option>
            </select>
        </td>
        <td style="width:50%">
            <span>Sexo</span>
            <select class="form-control" style="min-width:100%">
                <option value="-1">Seleccione ...</option>
            </select>
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Nacionalidad</span>
            <select class="form-control" style="min-width:100%">
                <option value="-1">Seleccione ...</option>
            </select>
        </td>
    </tr>
</table>

<hr />

<h5>Información Familiar</h5>
<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <span>Nombre compañera(o)</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Profesión, ocupación u oficio</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Empresa donde trabaja</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Cargo</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Teléfono</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Ciudad donde labora</span>
            <select class="form-control" style="min-width:100%">
                <option value="-1">Seleccione ...</option>
            </select>
        </td>
    </tr>
</table>
<label><i><strong>Hijos</strong></i></label>
<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <span>Nombre</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Fecha Nacimiento</span>
            <input class="form-control" type="date" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Nombre</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Fecha Nacimiento</span>
            <input class="form-control" type="date" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Nombre</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Fecha Nacimiento</span>
            <input class="form-control" type="date" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Nombre</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Fecha Nacimiento</span>
            <input class="form-control" type="date" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Nombre</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Fecha Nacimiento</span>
            <input class="form-control" type="date" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
</table>

<hr />

<h5>Experiencia Laboral</h5>
<label><i><strong>Actual o Ultima Empresa</strong></i></label>
<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <span>Nombre Empresa</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Dirección</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Teléfono</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Jefe Inmediato</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Fecha de Ingreso</span>
            <input class="form-control" type="date" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Fecha de Retiro</span>
            <input class="form-control" type="date" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
</table>
<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <span>Motivo Retiro</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Funciones Realizadas</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
</table>

<label><i><strong>Anterior Empresa</strong></i></label>
<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <span>Nombre Empresa</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Dirección</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Teléfono</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Jefe Inmediato</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Fecha de Ingreso</span>
            <input class="form-control" type="date" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:50%">
            <span>Fecha de Retiro</span>
            <input class="form-control" type="date" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
</table>
<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <span>Motivo Retiro</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <span>Funciones Realizadas</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
</table>

<hr />

<h5>Referencias Personales</h5>
<table class="table table-borderless">
    <tr>
        <td style="width:33%">
            <span>Nombre</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:33%">
            <span>Teléfono</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:33%">
            <span>Ocupación</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:33%">
            <span>Nombre</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:33%">
            <span>Teléfono</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:33%">
            <span>Ocupación</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
</table>

<hr />

<h5>Referencias Familiares</h5>
<table class="table table-borderless">
    <tr>
        <td style="width:33%">
            <span>Nombre</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:33%">
            <span>Teléfono</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:33%">
            <span>Parentesco</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
    <tr>
        <td style="width:33%">
            <span>Nombre</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:33%">
            <span>Teléfono</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
        <td style="width:33%">
            <span>Parentesco</span>
            <input class="form-control" type="text" name="name" value="" style="min-width:100%" autocomplete="off" />
        </td>
    </tr>
</table>


<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <button class="btn btn-success">Guardar Empleado</button>
        </td>
    </tr>
</table>

