
@{
    ViewBag.Title = "Empleado";
}

<h2>Empleado</h2>

<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <a href="/Empleado/CrearEmpleado" class="btn btn-success" style="min-width:100%">Nuevo Empleado</a>
        </td>
        <td style="width:50%">
            <a href="/Empleado/ListaEmpleados" class="btn btn-success" style="min-width:100%">Ver Empleados</a>
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <a href="/Empleado/DocumentacionEmpleado" class="btn btn-success" style="min-width:100%">Adicionar Documentación</a>
        </td>
        <td style="width:50%">
            <a href="/Empleado/PermisoEmpleado" class="btn btn-success" style="min-width:100%">Permiso</a>
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <a href="/Empleado/HoraEntradaEmpleado" class="btn btn-success" style="min-width:100%">Hora Entrada</a>
        </td>
        <td style="width:50%">
            <a href="/Empleado/HoraSalidaEmpleado" class="btn btn-success" style="min-width:100%">Hora Salida</a>
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <a href="/Empleado/HoraExtraEmpleado" class="btn btn-success" style="min-width:100%">Hora Extra</a>
        </td>
    </tr>
</table>