
@{
    ViewBag.Title = "Lista Sucursales";
}

<div style="text-align:end">
    <a class="btn btn-light btn-sm" href="/Sucursal/Sucursal">Volver</a>
    <a class="btn btn-success btn-sm" href="/Sucursal/CrearSucursal">Nueva Sucursal</a>
</div>

<h2>Lista Sucursales</h2>

