
@{
    ViewBag.Title = "Sucursal";
}

<h2>Sucursal</h2>


<table class="table table-borderless">
    <tr>
        <td style="width:50%">
            <a href="/Sucursal/CrearSucursal" class="btn btn-success" style="min-width:100%">Nueva Sucursal</a>
        </td>
        <td style="width:50%">
            <a href="/Sucursal/ListaSucursales" class="btn btn-success" style="min-width:100%">Ver Sucursales</a>
        </td>
    </tr>
    <tr>
        <td style="width:50%">
            <a href="/Sucursal/CrearSucursal" class="btn btn-success" style="min-width:100%">Personal Sucursal</a>
        </td>
    </tr>
</table>