
@{
    ViewBag.Title = "ListaEmpresas";
}

<div style="text-align:end">
    <a class="btn btn-light btn-sm" href="/Empresa/Empresa">Volver</a>
    <a class="btn btn-success btn-sm" href="/Empresa/CrearEmpresa">Nueva Empresa</a>
</div>

<h2>Lista Empresas</h2>

